{% comment %}
  filename: sections/main-register.liquid
  purpose: Ultra-minimalist registration form tracking bespoke data securely into Customer Properties.
{% endcomment %}
<section class="auth section-shell scheme-light text-dark">
  <div class="page-width">
  <div class="auth__container">
    <h1 class="auth__title">{{ 'account.register_heading' | t }}</h1>

    {% form 'create_customer', novalidate: 'novalidate' %}
      {%- if form.errors -%}
        <div class="auth__errors">
          {{ form.errors | default_errors }}
        </div>
      {%- endif -%}

      <!-- Standard Fields -->
      <div class="auth__field">
        <label class="auth__label" for="RegisterForm-FirstName">{{ 'account.first_name_label' | t }}</label>
        <input class="form-field" type="text" name="customer[first_name]" id="RegisterForm-FirstName" autocomplete="given-name">
      </div>

      <div class="auth__field">
        <label class="auth__label" for="RegisterForm-LastName">{{ 'account.last_name_label' | t }}</label>
        <input class="form-field" type="text" name="customer[last_name]" id="RegisterForm-LastName" autocomplete="family-name">
      </div>

      <div class="auth__field">
        <label class="auth__label" for="RegisterForm-email">{{ 'account.email_label' | t }}</label>
        <input class="form-field" type="email" name="customer[email]" id="RegisterForm-email" autocomplete="email" required>
      </div>

      <div class="auth__field">
        <label class="auth__label" for="RegisterForm-password">{{ 'account.password_label' | t }}</label>
        <input class="form-field" type="password" name="customer[password]" id="RegisterForm-password" required>
      </div>

      <!-- Bespoke Custom Data Fields mapped to Customer Properties -->
      <input type="hidden" name="customer[tags]" value="Maison-Member">
      <input type="hidden" name="customer[note][Membership_Status]" value="Maison-Member">

      <div class="auth__field">
        <label for="RegisterForm-Style">Preferred Style</label>
        <select class="form-field" name="customer[note][Preferred_Style]" id="RegisterForm-Style">
          <option value="Minimalist">Minimalist</option>
          <option value="Avant-Garde">Avant-Garde</option>
          <option value="Classic">Classic Elegance</option>
          <option value="Undecided">Undecided</option>
        </select>
      </div>

      <div class="auth__field">
        <label for="RegisterForm-RingSize">Jewelry Size</label>
        <input class="form-field" type="text" name="customer[note][Jewelry_Size]" id="RegisterForm-RingSize">
      </div>

      <div class="auth__field">
        <label for="RegisterForm-Birthday">Birthday</label>
        <input class="form-field" type="date" name="customer[note][Birthday]" id="RegisterForm-Birthday">
      </div>

      <button type="submit" class="button button--outline button--full">{{ 'account.create_account' | t }}</button>

      <div class="auth__footer">
        <p>{{ 'account.already_have_account' | t }} <a class="auth__link" href="{{ routes.account_login_url }}">{{ 'account.sign_in' | t }}</a></p>
      </div>

    {% endform %}
  </div>
  </div>
</section>

{% schema %}
{
  "name": "Main Register",
  "settings": []
}
{% endschema %}
